#section-tiles {
  text-align: center;
}

#tile {
  height: 125px;
  cursor: pointer;
  object-fit: cover;
  margin: 0 0 .5rem 0;
}

#tile-icon {
  margin: 30px;
  height: -webkit-fill-available;
  width: -webkit-fill-available;
}

.column {
  margin: 0 0 2rem 0;
}

.title, .title:hover {
  font-size: 13px;
  font-weight: bold;
  color: whitesmoke;
  text-align: center;
}
